.skills-page {
  padding: 1rem;
  background: linear-gradient(to bottom right, #94b16f, #b3d07e);
  min-height: 150vh;
  font-family: 'Poppins', sans-serif;
  color: #53663e;
  display: flex;
  justify-content: center;
}

.skills-content {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 1300px;
}

.langages {
  flex: 1;
  background-color: rgba(190, 218, 157, 0.15);
  border: 1px solid #beda9d;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(190, 218, 157, 0.4);
  font-size: 1rem;
  height: auto;
  max-height: 635px; 
  overflow-y: visible;
}

.right-column {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.right-column .skill-card {
  background-color: rgba(190, 218, 157, 0.15);
  border: 1px solid #beda9d;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(190, 218, 157, 0.4);
  font-size: 1rem;
  height: auto;
  max-height: none; 
  overflow-y: visible;
}

.skill-card h1,
.skill-card h2,
.skill-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: #68804f;
  border-bottom: 1px solid #68804f;
  padding-bottom: 0.3rem;
}

.skill-card ul {
  padding-left: 1rem;
  margin: 0;
  list-style: none;
}

.skill-card li {
  margin-bottom: 0.3rem;
  line-height: 1.4;
}

.bar-container {
  background-color: #beda9d;
  border-radius: 10px;
  overflow: hidden;
  height: 14px;
  margin-top: 0.3rem;
}

.bar {
  height: 100%;
  background: linear-gradient(to right, #94b16f, #b3d07e);
  transition: width 0.5s ease;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .skills-content {
    flex-direction: column;
  }

  .right-column {
    flex-direction: column;
  }

  .langages,
  .right-column .skill-card {
    max-height: 300px !important;
    overflow-y: auto !important;
    border: 2px;
  }
}
